body {
  /* background-color: #4da8a8; */
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.show {
  visibility: visible;
}
:root {
  --lightGrey: rgb(192, 196, 200);
  --darkGrey: #84888c;
  --borderWhite: rgb(228, 226, 226);
  --borderGray: gray;
}

/* imgModal Start*/
.modal {
  background-color: var(--darkGrey);
  width: 40%;
  height: 40%;
  overflow: scroll;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.topBar {
  background-color: var(--darkGrey);
  display: flex;
  justify-content: space-between;
}
.topBarRight {
  background-color: var(--lightGrey);
  color: black;
}
.topBarLeft {
  margin-left: 1%;
  color: white;
}
img {
  width: 100%;
  height: 90%;
}
.colors {
  background-color: var(--darkGrey);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.colors > button {
  width: 10%;
  height: 5vh;
  border-color: var(--borderWhite);
}
#btn1 {
  background-color: aquamarine;
}
#btn2 {
  background-color: pink;
}
#btn3 {
  background-color: palegreen;
}
#btn4 {
  background-color: plum;
}
#btn5 {
  background-color: paleturquoise;
}
#btn6 {
  background-color: lemonchiffon;
}
#btn7 {
  background-color: violet;
}
#btn8 {
  background-color: sandybrown;
}
#btn9 {
  background-color: steelblue;
}
#btn10 {
  background-color: slateblue;
}
/* imgModal End */

/* bottomBar Start */
.bottomBar {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--lightGrey);
  display: flex;
  justify-content: flex-start;
  border-top: 3px solid white;
}
#window {
  width: 3%;
  height: 3%;
  background-color: var(--lightGrey);
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid var(--borderGray);
  border-right: 3px solid var(--borderGray);
}
#prcs {
  background-color: var(--lightGrey);
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid var(--borderGray);
  border-right: 3px solid var(--borderGray);
}
/* bottomBar End */

/* windowModal Start */
.windowModal {
  width: 13%;
  height: 25%;
  background-color: var(--lightGrey);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid var(--borderGray);
  border-right: 3px solid var(--borderGray);
}
.prgm {
  width: 100%;
  height: 100%;
  background-color: var(--lightGrey);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.prgm img {
  width: 30%;
}
.prgm p {
  width: 50%;
  margin: auto;
}
.help {
  width: 100%;
  height: 100%;
  background-color: var(--lightGrey);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.help img {
  width: 30%;
}
.help p {
  width: 50%;
  margin: auto;
}
.shtDwn {
  width: 100%;
  height: 100%;
  background-color: var(--lightGrey);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.shtDwn img {
  width: 30%;
}
.shtDwn p {
  width: 50%;
  margin: auto;
}
/* .iconSide {
  width: 100%;
  height: 100%;
  background-color: var(--lightGrey);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.iconSide img {
  width: 50%;
  height: 20%;
  margin: auto;
}
.txtSide {
  width: 100%;
  height: 100%;
  background-color: var(--lightGrey);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

/* windowModal End */
